/.DS_Store
/Presentazione.aux
/Presentazione.fdb_latexmk
/Presentazione.fls
/Presentazione.log
/Presentazione.nav
/Presentazione.out
/Presentazione.pdf
/Presentazione.snm
/Presentazione.synctex.gz
/Presentazione.toc
/images